In [3]:
#Question1:
#Answer:
"""A database is a structured collection of data that is organized and managed in a way that allows for efficient storage, retrieval, and manipulation of information."""
# DIFFERENCE BETWEEN SQL AND NOSQL..
"""SQL:
       1. Relational Database Management System (RDBMS).
       2. These databases have fixed or static or predefined schema.
       3. These databases are best suited for complex queries.
       4. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc
       
    NoSQL:
          1. Non-relational or distributed database system.
          2. They have a dynamic schema.
          3. These databases are not so good for complex queries.
          4. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc."""

'SQL:\n       1. Relational Database Management System (RDBMS).\n       2. These databases have fixed or static or predefined schema.\n       3. These databases are best suited for complex queries.\n       4. Examples: MySQL, PostgreSQL, Oracle, MS-SQL Server, etc\n       \n    NoSQL:\n          1. Non-relational or distributed database system.\n          2. They have a dynamic schema.\n          3. These databases are not so good for complex queries.\n          4. Examples: MongoDB, GraphQL, HBase, Neo4j, Cassandra, etc.'

In [4]:
#Question6:
#Answer:
"""DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database.
DDL commands are used to create, modify, and delete database objects such as tables, indexes, views, and schemas."""

'DDL stands for Data Definition Language, which is a subset of SQL (Structured Query Language) used for defining and managing the structure of a database.\nDDL commands are used to create, modify, and delete database objects such as tables, indexes, views, and schemas.'

In [13]:
""" 1. CREATE : The CREATE command is used to create new database objects, such as tables, views, or indexes."""
#EXAMPLE:
" CREATE TABLE pw(c1 INT,c2 FLOAT);"

' CREATE TABLE pw(c1 INT,c2 FLOAT);'

In [10]:
""" 2. DROP: The DROP command is used to remove existing database objects, such as tables or views."""
#EXAMPLE:
" DROP TABLE employees;"

' DROP TABLE employees;'

In [11]:
""" 3. ALTER : The ALTER command is used to modify the structure of an existing database object."""
#EXAMPLE:
""" ALTER TABLE employees
    ADD COLUMN email VARCHAR(100);"""

' ALTER TABLE employees\n    ADD COLUMN email VARCHAR(100);'

In [12]:
""" 4. TRUNCATE : The TRUNCATE command is used to remove all data from a table, but it retains the table's structure."""
#EXAMPLE:
" TRUNCATE TABLE employess;"

' TRUNCATE TABLE employess;'

In [14]:
#Question3:
#Answer:
"""DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database.
DML commands allow you to insert, update, and delete records within database tables."""

'DML stands for Data Manipulation Language, which is a subset of SQL (Structured Query Language) used for manipulating data stored in a database.\nDML commands allow you to insert, update, and delete records within database tables.'

In [15]:
""" 1. INSERT : The INSERT command is used to add new records (rows) into a table. You can specify the column names and their corresponding values to be inserted."""
#EXAMPLE:
" INSERT INTO employees VALUES (1, 'John', 'Doe', 'Sales'); "

" INSERT INTO employees VALUES (1, 'John', 'Doe', 'Sales'); "

In [16]:
""" 2. UPDATE : The UPDATE command is used to modify existing records in a table. You can specify which records to update and the new values for the desired columns."""
#EXAMPLE:
""" UPDATE employees
    SET department = 'Marketing'
    WHERE id = 1; """

" UPDATE employees\n    SET department = 'Marketing'\n    WHERE id = 1; "

In [17]:
""" 3. DELETE : records from a table. You can specify a condition to determine which records to delete."""
#EXAMPLE:
""" DELETE FROM employees
    WHERE id = 1; """

' DELETE FROM employees\n    WHERE id = 1; '

In [18]:
#Question4:
#Answer:
""" DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.
DQL commands are primarily focused on retrieving information from tables and views without altering the data itself."""

' DQL stands for Data Query Language, which is a subset of SQL (Structured Query Language) used for querying and retrieving data from a database.\nDQL commands are primarily focused on retrieving information from tables and views without altering the data itself.'

In [21]:
""" SELECT :  

WE HAVE DATABASE employees AND HAVE TABE details TO FETCH DATA FROM TABLE

SELECT * FROM details;

OUTPUT:

| id | first_name | last_name | department | salary |
|----|------------|-----------|------------|--------|
| 1  | John       | Doe       | Sales      | 50000  |
| 2  | Jane       | Smith     | HR         | 60000  |
| 3  | Mike       | Johnson   | Marketing  | 55000  |
| 4  | Emily      | Brown     | IT         | 65000  |   """

' SELECT :  \n\nWE HAVE DATABASE employees AND HAVE TABE details TO FETCH DATA FROM TABLE\n\nSELECT * FROM details;\n\nOUTPUT:\n\n| id | first_name | last_name | department | salary |\n|----|------------|-----------|------------|--------|\n| 1  | John       | Doe       | Sales      | 50000  |\n| 2  | Jane       | Smith     | HR         | 60000  |\n| 3  | Mike       | Johnson   | Marketing  | 55000  |\n| 4  | Emily      | Brown     | IT         | 65000  |   '

In [23]:
#Question6:
#Answer:
""" PRIMARY KEY :
                 A Primary Key is a column or set of columns in a table that uniquely identifies each row in that table.
                 It serves as a unique identifier for each record, and no two rows can have the same primary key value.
                 A primary key is crucial because it enables efficient data retrieval and maintains data integrity within the table.
                 
Properties of a Primary Key:

Uniqueness: Each value in the primary key column(s) must be unique.
Non-null: The primary key column(s) cannot contain NULL values, ensuring that every record has a valid identifier.
Fixed: The value(s) of the primary key should not change after it has been assigned.

| id (Primary Key) | first_name | last_name | department |
|------------------|------------|-----------|------------|
| 1                | John       | Doe       | Sales      |
| 2                | Jane       | Smith     | HR         |
| 3                | Mike       | Johnson   | Marketing  |
| 4                | Emily      | Brown     | IT         |

In this example, the "id" column is the primary key, and each value in this column is unique, identifying each employee uniquely in the "employees" table."""

' PRIMARY KEY :\n                 A Primary Key is a column or set of columns in a table that uniquely identifies each row in that table.\n                 It serves as a unique identifier for each record, and no two rows can have the same primary key value.\n                 A primary key is crucial because it enables efficient data retrieval and maintains data integrity within the table.\n                 \nProperties of a Primary Key:\n\nUniqueness: Each value in the primary key column(s) must be unique.\nNon-null: The primary key column(s) cannot contain NULL values, ensuring that every record has a valid identifier.\nFixed: The value(s) of the primary key should not change after it has been assigned.\n\n| id (Primary Key) | first_name | last_name | department |\n|------------------|------------|-----------|------------|\n| 1                | John       | Doe       | Sales      |\n| 2                | Jane       | Smith     | HR         |\n| 3                | Mike       | Johnson   | Marketing  |\n| 4                | Emily      | Brown     | IT         |\n\nIn this example, the "id" column is the primary key, and each value in this column is unique, identifying each employee uniquely in the "employees" table.'

In [24]:
""" FOREIGN KEY :
                  A Foreign Key is a column or set of columns in a table that establishes a link to the Primary Key of another table.
                  It represents a relationship between two tables, ensuring referential integrity.
                  The Foreign Key column in one table refers to the Primary Key column in another table, creating a connection between the related data.
                  
Properties of a Foreign Key:

It references the Primary Key of another table.
The values of the Foreign Key column must match the values in the referenced Primary Key column, or be NULL if the relationship is optional (nullable).


| department_id (Primary Key) | department_name |
|----------------------------|-----------------|
| 101                        | Sales           |
| 102                        | HR              |
| 103                        | Marketing       |
| 104                        | IT              |


| id (Primary Key) | first_name | last_name | department (Foreign Key) |
|------------------|------------|-----------|-------------------------|
| 1                | John       | Doe       | 101                     |
| 2                | Jane       | Smith     | 102                     |
| 3                | Mike       | Johnson   | 103                     |
| 4                | Emily      | Brown     | 104                     |

In this example, the "department" column in the "employees" table is a Foreign Key that references the "department_id" column in the "departments" table.
This establishes a relationship between the "employees" and "departments" tables, allowing us to associate each employee with a specific department using the Foreign Key.
This ensures referential integrity, meaning that each department referenced in the "employees" table must exist in the "departments" table.
If a department is deleted from the "departments" table, any related employee records would be affected based on the database's specified action (e.g., restrict, cascade, set NULL, etc.)."""

' FOREIGN KEY :\n                  A Foreign Key is a column or set of columns in a table that establishes a link to the Primary Key of another table.\n                  It represents a relationship between two tables, ensuring referential integrity.\n                  The Foreign Key column in one table refers to the Primary Key column in another table, creating a connection between the related data.\n                  \nProperties of a Foreign Key:\n\nIt references the Primary Key of another table.\nThe values of the Foreign Key column must match the values in the referenced Primary Key column, or be NULL if the relationship is optional (nullable).\n\n\n| department_id (Primary Key) | department_name |\n|----------------------------|-----------------|\n| 101                        | Sales           |\n| 102                        | HR              |\n| 103                        | Marketing       |\n| 104                        | IT              |\n\n\n| id (Primary Key) | first_name | last_name | department (Foreign Key) |\n|------------------|------------|-----------|-------------------------|\n| 1                | John       | Doe       | 101                     |\n| 2                | Jane       | Smith     | 102                     |\n| 3                | Mike       | Johnson   | 103                     |\n| 4                | Emily      | Brown     | 104                     |\n\nIn this example, the "department" column in the "employees" table is a Foreign Key that references the "department_id" column in the "departments" table.\nThis establishes a relationship between the "employees" and "departments" tables, allowing us to associate each employee with a specific department using the Foreign Key.\nThis ensures referential integrity, meaning that each department referenced in the "employees" table must exist in the "departments" table.\nIf a department is deleted from the "departments" table, any related employee records would be affected based on the database\'s specified action (e.g., restrict, cascade, set NULL, etc.).'

In [27]:
#Question6:
#Answer:
"""
import mysql.connector
db = mysql.connector.connect(
    host = "localhost",
    user = "abc",
    password = "password"
)
mycursor = db.cursor()

"""

'\nimport mysql.connector\ndb = mysql.connector.connect(\n    host = "localhost",\n    user = "abc",\n    password = "password"\n)\nmycursor = db.cursor()\n\n'

In [29]:
""" 1. CURSOR() : The cursor() method creates a cursor object, which acts as a pointer to the database.
        mycursor = db.cursor()
    
    2. EXECUTE(): The execute() method is used to execute SQL queries or commands through the cursor object.
        cursor.execute("SELECT * FROM table_name")
"""

' 1. CURSOR() : The cursor() method creates a cursor object, which acts as a pointer to the database.\n        mycursor = db.cursor()\n    \n    2. EXECUTE(): The execute() method is used to execute SQL queries or commands through the cursor object.\n        cursor.execute("SELECT * FROM table_name")\n'

In [31]:
#Question7:
#Answer:
""" order of execution of SQL clauses in an SQL query.
    1. SELECT
    2. FROM
    3. WHERE
    4. GROUP BY
    5. HAVING
    6. ORDER BY
    7. LIMIT/OFFSET
    
"""

' order of execution of SQL clauses in an SQL query.\n    1. SELECT\n    2. FROM\n    3. WHERE\n    4. GROUP BY\n    5. HAVING\n    6. ORDER BY\n    7. LIMIT/OFFSET\n    \n'